.kranke-sache {
    font-size: 17px;
}

.kranke-sache input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.todo-eintrag {
    width: 100%;
    background-color: rgba(0, 255, 255, 0.452);
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
}

.todo-eintrag label {
    display: flex;
    align-items: center;
}

.eintrag-control {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: aqua;
    padding: 10px 20px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.control-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.control-input input {
    width: 100%;
    padding: 15px 25px;
    outline: none;
    border: 1px solid grey;
    border-radius: 5px;
}

.control-input p {
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: 0;
    white-space: nowrap; 
    margin-right: 10px;
}

.control-btns {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}

.nav-height {
    height: 75px;
}

.nav-h1 {
    font-size: 25px;
}